<p>md2web is a minimalist, hackable Flask application that renders Markdown files as HTML pages.</p>
<h2>Home</h2>
<p><code>Frontpage.md</code> is automatically set as the default "home" of your website. The markdown for this file is located inside <code>Sample Website/Frontpage.md</code>.</p>
<h2>Sitemap</h2>
<ul>
<li><a class="wikilink" href="/Features/">Features</a></li>
<li><a class="wikilink" href="/License/">License</a></li>
</ul>
<h2>Fork this!</h2>
<p>You can find this project on GitHub: <a href="https://github.com/sinandredemption/md2web">link</a>.</p>